<%- include('./port/layout-start', {title: title}) %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
    </div>
</div>
<div class="container mt-3">
  <div class="row row-cols-2">
    <% books.map((book) => {  %>
      <div class="col">
        <div class="card" style="width: 100%;">
          <img src="https://pbs.twimg.com/media/EZEk5feU8AIaee_.jpg" class="card-img-top" alt="card test">
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-text"><%= book.description %></p>
            <a href="/views/books/<%= book.id %>" class="btn btn-primary">Редактировать</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include('./port/layout-end') %>